doctype html
html( lang="fr" )
    head
        meta( charset="utf-8" )/

        title Ma super carte de visite
        meta( name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0" )/

        link( rel="stylesheet", href="assets/css/styles.css" )/

    body
        main
            section.face
                h1
                    strong= lastname
                    = " "
                    span= firstname

                p= position

            section.back
                h2= firstname + " " + lastname
                dl
                    dt email
                    dd= email
                    dt téléphone
                    dd= phone
                    dt site web
                    dd= url

        nav
            a.flip( href="javascript:void(0);" )
                include ../../src/images/flip-icon.svg
                = " "
                span retourner la carte

        footer
            small ©2017 #[a( href="https://github.com/leny" ) leny]

        script( src="assets/js/script.js" )
